@model IEnumerable<OperaWebSite.Models.Opera>




    @section Izq {
        <ul>
            <li> <a href="#">La flauta magica</a></li>
            <li> <a href="#">Don Giovanni</a></li>
            <li> <a href="#">Las bodas de Figaro</a></li>
        </ul>

    }

    @section Der {

        <ul>
           
            <li>
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Mozart-small.jpg" style="height:150px"/>
            <br />
            <a href="https://es.wikipedia.org/wiki/Wolfgang_Amadeus_Mozart">Mozart</a></li>
            <li>
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/02/Bernardo_Strozzi_-_Claudio_Monteverdi_%28c.1630%29.jpg" style="height:150px"/>
                <br />
                <a href="https://es.wikipedia.org/wiki/Claudio_Monteverdi">Claudio Monteverdi</a>
            </li>
            <li>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Johann_Sebastian_Bach.jpg" style="height:150px" />
            <br />
            <a href="https://es.wikipedia.org/wiki/Johann_Sebastian_Bach">Johann Bach</a></li>
        </ul>

    }
    <p>@Html.ActionLink("Create New", "Create", "Opera")</p>
    @using (Html.BeginForm("SearchByYear", "Opera", FormMethod.Get))
    {
        @Html.TextBox("year", 0)

        <input type="submit" value="Get" />
    }

    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Composer)</th>
            <th>@Html.DisplayNameFor(model => model.Year)</th>
            <th>Details</th>
            <th>Deletes</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Composer)</td>
                <td>@Html.DisplayFor(modelItem => item.Year)</td>
                <td>
                    @Html.ActionLink("Detail", "Detail", new { id = item.OperaId })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.OperaId })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OperaId })
                </td>
            </tr>
        }
    </table>

